<div><%= link_to 'Add Task', new_task_path, remote: true, class: "btn btn-success" %></div>
<br>
<h1>Tasks</h1>
<div id="new-form-placeholder"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Title</th>
      <th scope="col">Is Done</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tasks">
    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <%= render 'task', task: task %>
      <% end %>
    <% end %>
  </tbody>
</table>

